button,
.button,
input[type="submit"] {
    padding     : 7px;
    color       : $textColor;
    font-family : $font_text;
    font-size   : $fontSizeMedium;
    font-weight : 600;
    border      : 0;
    margin      : 0;
    outline     : none;
    text-align  : left;
    @include transition();

    @each $color in $colorList {
        $currentColorName : nth($color, 1);
        $currentColorValue : nth($color, 2);
        $currentColorTrigger : nth($color, 3);

        &.#{$currentColorName} {
            background-color : $currentColorValue;

            &.inverted {
                border-color : $currentColorValue;
                color        : $currentColorValue;

                &:hover, &:focus, &:active {
                    color            : $textColor;
                    background-color : $currentColorTrigger;
                }
            }

            &:hover, &:focus, &:active {
                background-color : $currentColorTrigger;
                color            : $textColor;
            }
        }
    }

    @extend .input;

    &.inverted {
        background : none;
        border     : 2px solid $inputColor;

        &:hover {
            color : $textColor;
        }

        &.disabled {
            &:hover {
                color      : $textColor;
                background : none;
            }
        }
    }

    &.small {
        font-size : $fontSizeSmall;
        padding   : 7px;
    }

    &.thick {
        padding-left  : 20px;
        padding-right : 20px;
    }

    &.large {
        padding   : 12px;
        font-size : $fontSizeLarge;
    }

    .title {
        display     : inline-block;
        max-width   : 0;
        overflow    : hidden;
        float       : right;
        white-space : nowrap;
        text-wrap   : none;
        @include transition(#{max-width, margin-left});
    }

    &:hover {
        .title {
            margin-left : .2em;
            height      : auto;
            max-width   : 100px;
        }
    }

    &.disabled {
        color : $textColor;

        &:hover {
            background-color : $disabled;
            color            : $textColor;
        }
    }
}