.loader {
    cursor           : wait;
    margin           : auto;
    display          : inline-block;
    border-color     : $inputColor;
    background-color : $inputColor;

    &.spin {
        @include vendors(animation, loader-spin 1.5s infinite linear);
        background          : none;
        opacity             : .8;
        border-radius       : 100px;
        border-style        : solid;
        border-right-color  : transparent;
        border-bottom-color : transparent;

        $sizes : 5, 10, 20;

        @each $size in $sizes {
            &.size-#{$size} {
                border-width : #{$size}px;
                width        : ($size* 5px);
                height       : ($size* 5px);
            }
        }

        @extend .size-5;
    }

    &.dots-round {
        position                 : relative;
        border-radius            : 100px;
        -webkit-transform-origin : 50% 50%;
        transform-origin         : 50% 50%;
        @include vendors(animation, loader-dots-round 1.5s infinite ease-in-out);

        &:before, &:after {
            content          : "";
            top              : 0;
            position         : absolute;
            background-color : inherit;
            opacity          : .5;
            border-radius    : 100px;
        }

        $sizes : 12, 20, 40;

        @each $size in $sizes {
            $diff : (13 + $size);
            &.size-#{$size} {

                width        : #{$size}px;
                height       : #{$size}px;
                margin-left  : #{$diff}px;
                margin-right : #{$diff}px;

                &:before, &:after {
                    width  : #{$size}px;
                    height : #{$size}px;
                }

                &:before {
                    left : #{-$diff}px;
                }

                &:after {
                    left : #{$diff}px;
                }

            }
        }

        @extend .size-12;
    }

    &.dots {
        position      : relative;
        width         : 12px;
        height        : 12px;
        margin-left   : 25px;
        margin-right  : 25px;
        border-radius : 100px;
        @include vendors(animation, loader-dots 3s infinite ease-in-out);

        &:before, &:after {
            content          : "";
            top              : 0;
            position         : absolute;
            background-color : inherit;
            border-radius    : 100px;
        }

        &:before {
            @include vendors(animation, loader-dots-l 3s infinite ease-in-out);
        }

        &:after {
            @include vendors(animation, loader-dots-r 3s infinite ease-in-out);
        }

        $sizes : 12, 20, 40;

        @each $size in $sizes {
            $diff : (13 + $size);
            &.size-#{$size} {
                width        : #{$size}px;
                height       : #{$size}px;
                margin-left  : #{$diff}px;
                margin-right : #{$diff}px;

                &:before, &:after {
                    width  : #{$size}px;
                    height : #{$size}px;
                }

                &:before {
                    left : #{-$diff}px;
                }

                &:after {
                    left : #{$diff}px;
                }

            }
        }

        @extend .size-12;

    }

}

@include keyframes(loader-dots) {
    0% {
        box-shadow : inset 0 0 0 99999px rgba(255, 255, 255, 0.8);
    }
    25% {
        box-shadow : inset 0 0 0 99999px rgba(255, 255, 255, 0.8);
    }
    50% {
        box-shadow : none;
    }
    75% {
        box-shadow : inset 0 0 0 99999px rgba(255, 255, 255, 0.8);
    }
    100% {
        box-shadow : inset 0 0 0 99999px rgba(255, 255, 255, 0.8);
    }
}

@include keyframes(loader-dots-l) {
    0% {
        opacity : .2;
    }
    25% {
        opacity : 1;
    }
    50% {
        opacity : .2;
    }
    75% {
        opacity : .2;
    }
    100% {
        opacity : .2;
    }
}

@include keyframes(loader-dots-r) {

    0% {
        opacity : .2;
    }
    25% {
        opacity : .2;
    }
    50% {
        opacity : .2;
    }
    75% {
        opacity : 1;
    }
    100% {
        opacity : .2;
    }
}

@include keyframes(loader-spin) {
    0% {
        @include vendors(transform, rotate(0deg));
    }

    100% {
        @include vendors(transform, rotate(360deg));
    }
}

@include keyframes(loader-dots-round) {
    0% {
        @include vendors(transform, rotate(0deg));
    }
    50% {
        @include vendors(transform, rotate(180deg));
    }
    100% {
        @include vendors(transform, rotate(180deg));
    }
}
