// used for separator
$lightgrey : #CDCDCD;

$textColor : #222222;

$headingColor : $textColor;

$primary : #45A4F0;
$primaryTrigger : lighten($primary, 20);

$secondary : #00ffff;
$secondaryTrigger : lighten($secondary, 20);

$error : #A40802;
$errorTrigger : lighten($error, 20);