// used for separator
$lightgrey : #CDCDCD;

$textColor : #222222;

$headingColor : $textColor;

$inputColor : #CCCCCC;
$inputTrigger : darken($inputColor, 20);

$primary : #00B4FF;
$primaryTrigger : lighten($primary, 20);

$secondary : #CCFF00;
$secondaryTrigger : lighten($secondary, 20);

$error : #F80909;
$errorTrigger : lighten($error, 20);

$disabled : #999999;
$disabledTrigger : lighten($disabled, 20);

$colorList : ( ('input', $inputColor, $inputTrigger), ('primary', $primary, $primaryTrigger), ('secondary', $secondary, $secondaryTrigger), ('error', $error, $errorTrigger), ('disabled', $disabled, $disabledTrigger) );
