.separator-right {
    border-right : 1px solid $lightgrey;
}

.separator-top {
    border-top : 1px solid $lightgrey;
}

.separator-bottom {
    border-bottom : 1px solid $lightgrey;
}

.separator-left {
    border-left : 1px solid $lightgrey;
}