@mixin transition($property : all, $duration : $animationTime, $function : ease-in-out) {
    transition-property        : $property;
    transition-duration        : $duration;
    transition-timing-function : $function;
}