@each $color in $colorList {

    $currentColorName : nth($color, 1);
    $currentColorValue : nth($color, 2);

    .text-#{$currentColorName} {
        color : $currentColorValue;
    }

    .border-#{$currentColorName} {
        border-color : $currentColorValue;
    }

    .background-#{$currentColorName} {
        background-color : $currentColorValue;
    }
}