body {
    @include fontText();
    color     : $textColor;
    font-size : $fontSizeMedium;

    h1, h2, h3, h3, h4, h5 {
        color : $headingColor;
        @include fontHeading();
    }
}

.weight-400 {
    font-weight : 400;
}

.weight-600 {
    font-weight : 600;
}

.weight-700 {
    font-weight : 700;
}